*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 16, 44);
    color:#fff;
}

main{
    max-width: 500px;
    margin: auto;
}

.task-input{
    margin: 50px 0;
}

.task-input h1{
    margin-bottom: 20px;
}
#new-task-input{
    padding: 10px;
    border: 1px solid #00377e ;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}

#new-task-submit{
    padding: 14px;
    border: none;
    outline: none;
    background-color: #00355e;
    color: #fff;
    text-transform: uppercase;
}
.task-list h2{
    margin-bottom: 18px;
}

#tasks{
    background-color: #00193b;
    padding: 20px;
    border: 2px solid #003170;
}
.task{
    margin-bottom: 20px;
    background-color: #00132d;
    padding: 10px;
}

.text{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #0055c3;
    color: #fff;
    margin-bottom: 10px;
}

.mark-completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.edit, .delete, .complete{
    padding: 12px 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0055c3;
    outline: none;
    border: none;
    cursor: pointer;
}

.delete{
    background-color: #c80808;
    margin: 0 10px;
}
.complete{
    background-color: #385504;
}